body{
  background-color:#fff7ed;
  font-family: Arial, sans-serif;
  color: black;
  font-size: 16px;
  line-height: 1.2;
}

.top-header {
	width: 100%;
	background-image: url(https://loremflickr.com/320/240/campervan,red/all);
	background-size: cover;
	background-position: center;
}

.top-header > h1 {
	color: white;
	padding: 2em 1em;
  font-size: 20px;
	font-family: Arial, sans-serif;
}

h2{
  font-family: Arl, sans-serif;
  color: #403f4c;
  font-size: 18px;
  line-height: 1.3;
}

.container {
  text-align: left;
  margin: 50px auto;
}

.card-white {
  background: white;
  padding: 25px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  width: 400px;
  margin-bottom: 10px;
}

.link-medium {
  background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

@media (max-width: 1200px) {
  .container {
    width: 1000px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 550px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 400px;
  }
}
